%br
%br
.row
  .large-4.columns
    = form_for @event, :remote => true do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :eventdate
      = f.text_field :eventdate, :id => "date"
      = f.select :venue_id, options_for_select(@venues.map{|venue| [venue.name ,venue.id]})
      %br
      %br
      = f.submit(nil,:class => 'button')
      = button_to_function('Cancel', 'cancel_event_form()',:class=>'button alert')
  .large-7.columns
