<!DOCTYPE html>
<html>
<head>
  <title>Hackr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />


  <script src="http://code.jquery.com/jquery-1.9.1.js">/*Including JQuery twice because need it before J-UI (don't feel like breaking tree)*/</script>
  <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/header'%>
<div class='row'>
<div class='titlebar'>
  <span id ='title'><h2>Hackr-Place</h2></span>
  <span id='tag'><h4>Where to hack next?</h4></span>
</div>
</div>
  <div class='row'>
    <%= yield %>
  </div>

  <%= render :partial => 'layouts/footer'%>

</body>
</html>
